<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>hastaKayitServlet</servlet-name>
        <servlet-class>hasta.hastaKayitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hastaGirisServlet</servlet-name>
        <servlet-class>hasta.hastaGirisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hastaCıkısServlet</servlet-name>
        <servlet-class>hasta.hastaCikisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hastaCikisServlet</servlet-name>
        <servlet-class>hasta.hastaCikisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doktorGirisServlet</servlet-name>
        <servlet-class>doktor.doktorGirisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doktorCikisServlet</servlet-name>
        <servlet-class>doktor.doktorCikisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>randevuEkleServlet</servlet-name>
        <servlet-class>randevu.randevuEkleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>randevuSilServlet</servlet-name>
        <servlet-class>randevu.randevuSilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>randevuDuzenleServlet</servlet-name>
        <servlet-class>randevu.randevuDuzenleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ilacEkleServlet</servlet-name>
        <servlet-class>ilac.ilacEkleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ilacSilServlet</servlet-name>
        <servlet-class>ilac.ilacSilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ilacBilgileriServlet</servlet-name>
        <servlet-class>ilac.ilacBilgileriServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ilacDuzenleServlet</servlet-name>
        <servlet-class>ilac.ilacDuzenleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>yoneticiGiris</servlet-name>
        <servlet-class>yonetici.yoneticiGiris</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>yoneticiGirisServlet</servlet-name>
        <servlet-class>yonetici.yoneticiGirisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>yoneticiCikisServlet</servlet-name>
        <servlet-class>yonetici.yoneticiCikisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doktorDuzenleServlet</servlet-name>
        <servlet-class>doktor.doktorDuzenleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doktorSilServlet</servlet-name>
        <servlet-class>doktor.doktorSilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doktorEkleServlet</servlet-name>
        <servlet-class>doktor.doktorEkleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>randevuCookieServlet</servlet-name>
        <servlet-class>randevu.randevuCookieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hastaDuzenleServlet</servlet-name>
        <servlet-class>hasta.hastaDuzenleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hastaKayitServlet</servlet-name>
        <url-pattern>/hastaKayitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hastaGirisServlet</servlet-name>
        <url-pattern>/hastaGirisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hastaCıkısServlet</servlet-name>
        <url-pattern>/hastaC_k_sServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hastaCikisServlet</servlet-name>
        <url-pattern>/hastaCikisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doktorGirisServlet</servlet-name>
        <url-pattern>/doktorGirisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doktorCikisServlet</servlet-name>
        <url-pattern>/doktorCikisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>randevuEkleServlet</servlet-name>
        <url-pattern>/randevuEkleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>randevuSilServlet</servlet-name>
        <url-pattern>/randevuSilServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>randevuDuzenleServlet</servlet-name>
        <url-pattern>/randevuDuzenleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ilacEkleServlet</servlet-name>
        <url-pattern>/ilacEkleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ilacSilServlet</servlet-name>
        <url-pattern>/ilacSilServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ilacBilgileriServlet</servlet-name>
        <url-pattern>/ilacBilgileriServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ilacDuzenleServlet</servlet-name>
        <url-pattern>/ilacDuzenleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>yoneticiGiris</servlet-name>
        <url-pattern>/yoneticiGiris</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>yoneticiGirisServlet</servlet-name>
        <url-pattern>/yoneticiGirisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>yoneticiCikisServlet</servlet-name>
        <url-pattern>/yoneticiCikisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doktorDuzenleServlet</servlet-name>
        <url-pattern>/doktorDuzenleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doktorSilServlet</servlet-name>
        <url-pattern>/doktorSilServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doktorEkleServlet</servlet-name>
        <url-pattern>/doktorEkleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>randevuCookieServlet</servlet-name>
        <url-pattern>/randevuCookieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hastaDuzenleServlet</servlet-name>
        <url-pattern>/hastaDuzenleServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
